
#ldr > div {
    display: inline-block;
    margin: 5px;
}

#ldr {
    float: right;
}

#fire_reload > div {
    margin-bottom: 20px;
}

#r {
    display: inline-block;
    float: right;
    margin-right: 15px;
}

#space {
    display: inline-block;
    float: right;
}

#variables {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 3px;
}

#userInputOutput {
    position: absolute;
    right: 25px;
    bottom: 25px;
}

#feed {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 0px;
    height: 0px
}

.btn-flat {
    color: white;
}

.ui_btn {
    transition: opacity .04s linear;
    -moz-transition: opacity .04s linear;
    -webkit-transition: opacity .04s linear;
}

.calculatedLabel {
    color: #9e9e9e;
}



/* label color */

/*.input-field label {
    color: yellow;
}*/

/* label focus color */

.input-field input[type=text]:focus + label {
    color: yellow;
}
/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid yellow;
    box-shadow: 0 1px 0 0 yellow;
}

/* icon prefix focus color */

.input-field .prefix.active {
    color: yellow;
}

html {
    color: white;
}